<div class="navigation">

    {% if app.user %}
        <div class="col1">
            <a class="btn-nav2" href="{{ path('sortie_liste') }}">Liste des sorties </a>
            <a class="btn-nav2" href="{{ path('sortie_organisateur') }}">Gestion de tes sorties</a>
        </div>
    {% endif %}

    <div class="col2">
        <a href="{{ path('sortie_liste') }}">
            <img id="logo" src="{{ asset('logos/logo-transparent-svg.svg') }}" alt="Accueil" width="70%">
        </a>
    </div>

    <div class="col3">
        {% if is_granted('ROLE_ADMIN') %}<a class="btn-nav1" href="{{ path('app_admin') }}">Administration</a>
        {% endif %}


        {% if app.user %}

            <a class="btn-nav1" href="{{ path('participant_profil', {'pseudo': app.user.pseudo}) }}">Mon profil</a>
            <a class="btn-nav1" href="{{ path('app_logout') }}">Se déconnecter</a>

        {% else %}

            <a class="btn-nav1" href="{{ path('app_register') }}">M'inscrire</a>
            <a class="btn-nav1" href="{{ path('app_login') }}">Se connecter</a>
        {% endif %}
    </div>


</div>

{# TODO: changer la route de mon profil + ville + Campus + Accueil + logo sortir #}
