{% extends 'base.html.twig' %}
{% block title %}
{% endblock %}

{% block body %}
    <div>
        <div class="formProfilParent">
            <div class="formProfil">
                {{ form_start(participantform) }}
                {{ form_row(participantform.nom,{label: 'Nom : '}) }}
                {{ form_row(participantform.prenom,{label: 'Prenom : '}) }}
                {{ form_row(participantform.pseudo,{label: 'Pseudo : '}) }}
                {{ form_row(participantform.email,{label: 'Email : '}) }}
                {{ form_row(participantform.telephone,{label: 'Telephone : '}) }}
                {{ form_row(participantform.campus) }}
                {{ form_row(participantform.brochure) }}
                {{  form_row(participantform.plainPassword, {label : 'Validation du mot de passe'}) }}

                <button id="boutonForm">Modifier</button>

            </div>
        </div>
        {{ form_end(participantform) }}
    </div>
    <br>
    <div class="lienParent">
        <div class="lien">
            <a class="btn-liste" href="{{ path('sortie_liste') }}">Retour à la liste</a>
        </div>
    </div>
    <br>


{% endblock %}





