{% extends 'base.html.twig' %}

{% block title %}Hello ParticipantController!{% endblock %}

{% block body %}

<div>


    <p>Pseudo :{{participant.pseudo }}</p>
    <p>Nom : {{participant.nom }}</p>
    <p>Prenom : {{participant.prenom }}</p>
    <p>Telephone :{{participant.telephone }}</p>



    {% if participant.actif %}
        <p>Connecté</p>
    {% else%}
        <p>Deconnecté</p>
    {% endif %}
    <a href="{{ path('participant_modifier') }}" class="btn-modifier">Modifier mon profil</a>
    <a href="{{ asset('uploads/brochures/' ~ participant.brochureFilename) }}">View brochure (PDF)</a>
    <img src="{{ asset('uploads/brochures/' ~ participant.brochureFilename) }}" alt="Brochure">

</div>

{% endblock %}

{# TODO En fonction du nombre de sorties publié, mettre soit un logo begginer, soit intermediaire, soit expert #}
