{% extends 'base.html.twig' %}

{% block title %}Hello ParticipantController!{% endblock %}

{% block body %}

    <div class="photo-modifier">
        <img src="{{ asset('uploads/brochures/' ~ participant.brochureFilename) }}" alt="{{ participant.brochureFilename }}">
    </div>
    <div>
        <p>Pseudo :{{participant.pseudo }}</p>
        <p>Nom : {{participant.nom }}</p>
        <p>Prenom : {{participant.prenom }}</p>
        <p>Telephone :{{participant.telephone }}</p>
        <p>Campus : {{ participant.campus.nom }}</p>




    {% if app.user.pseudo==participant.pseudo %}
    <a href="{{ path('participant_modifier') }}" class="btn-modifier">Modifier mon profil</a>
        <p><a href="{{ path('participant_suprr', {'id':app.user.id}) }}">Supprimer mon profil</a> </p>
    {%  endif %}
    <a href="{{ path('sortie_liste') }}">Retour à la liste des sorties </a>


</div>

{% endblock %}

{# TODO En fonction du nombre de sorties publié, mettre soit un logo begginer, soit intermediaire, soit expert #}
