{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h3 id="titreForm">Réinitialise ton mot de passe</h3>
    <div class="formmdpParent">
        <div class="formmdp">
            {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}

            <button id="boutonForm">Valide ici</button>
        </div>
    </div>
    {{ form_end(requestForm) }}
    <br>
    <div class="lienParent">
        <div class="lien">
            <a class="btn-liste" href="{{ path('sortie_liste') }}">Retour à la liste</a>
        </div>
    </div>
{% endblock %}

