{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}

{% block body %}
    <div>
        {{ form_start(form) }}

        {{ form_row(form) }}
        <button>Modifier</button>
        {{ form_end(form) }}
    </div>
    <div>
        <p><a href="{{ path('admin_util_suppr', {'id':user.id}) }}">Supprimer l'utilisateur</a></p>
        {% if 'ROLE_INACTIF' in user.roles %}
            <p><a href="{{ path('admin_util_enable',{'id':user.id}) }}">Activer l'utilisateur</a></p>
        {% else %}
            <p><a href="{{ path('admin_util_disable',{'id':user.id}) }}">Désactiver l'utilisateur</a></p>
        {% endif %}

        <p><a href="{{ path('admin_util_sorties', {'id':user.id}) }}">Sorties de l'utilisateur</a> </p>
    </div>
{% endblock %}


