{% extends 'base.html.twig' %}

{% block body %}

    <h1>Création des sorties</h1>

    <div>
        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}
        <button>ajouter</button>
        {{ form_end(sortieForm) }}

    </div>

{#    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/script.js') }}"></script>
    {% endblock %}#}

{% endblock %}


