{% extends 'base.html.twig' %}

{% block body %}


    <h1> Detail de la sortie {{ detail_id.nom }}</h1>



    <ul>
        <li> Organisateur de la sortie : {{ detail_id.organisateur.pseudo }}</li>
        <li> Date de début : {{ detail_id.dateHeureDebut | date('d/m/y H:i')}} </li>
        <li> Durée de la sortie {{ detail_id.duree }} minutes </li>
        <li> Date limite <strong>d'inscription</strong> {{ detail_id.datelimiteInscription | date('d/m/y H:i')}} </li>
        <li> Nombre max de participant {{ detail_id.nbInscriptionsMax }} </li>
        <li> Description de la sortie {{ detail_id.infosSortie }} </li>
        <li> Etat de la sortie {{ detail_id.etat.libelle }}</li>


    </ul>

    <nav>
        <a href="{{ path('sortie_liste') }}">Retour à la liste</a>
        {% if (app.user.pseudo == detail_id.organisateur.pseudo) %}

        {% if detail_id.organisateur.id == app.user.id %}
        <a href="{{ path('sortie_suppression',{'suppression_id':detail_id.id}) }}">supprimer</a>

        <a href="{{ path('sortie_modification',{'sortie':detail_id.id}) }}">modifier</a>
        {%  endif %}

        {% endif %}
    </nav>

{% endblock %}

