{% extends 'base.html.twig' %}

{% block body %}
    <hr>
    {% block content %}
        {% if app.user %}

            <h3 id="titreForm">Recherche par filtre</h3>

        <div id="dispo-sortie">
            <p id="nb-sortie">Nombre de sorties disponibles : {{ nbreSortie }}</p>
            <div class="formRechercheParent">
                <div class="formRecherche">

                    {{ form_start(form, {'attr': {'class':'form-inline'}}) }}
                    {{ form_widget(form) }}

                    <button id="boutonForm" type="submit">
                        rechercher
                    </button>

                </div>
            </div>
            {{ form_end(form) }}


            <br>

            <br>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('echec') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('warning') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <br>

            <br>
        </div>
        {% endif %}
    {% endblock %}
    <div class="bloc-sortie-general">
        <div class="container-liste-1-titre">
            <h3>Voici la liste des sorties </h3>
        </div>
        <div class="container-liste-1-nbe">
            <p>Nombre total de sortie crées sur ce site : {{ nbreSortie }}</p>
        </div>
        <div class="btn-ajout">
            <a id="btn-ajouter-liste" href="{{ path('sortie_creation') }}"> Ajoute une sortie</a>
        </div>
    </div>

    <div class="container-general">

        {% for sortie in sorties %}
            {# {% if sortie.etat.id == 2 or sortie.ertat.id ==7 %} #} {# // RAJOUTE #}
            {% set inscrit = false %}

            <div class="container-bloc">
                <div class="liste-1">
                    <a id="nom-sortie" href="{{ path('sortie_detail',{'sortie':sortie.id}) }}">{{ sortie.nom }}</a>
                    organisé par
                    <a id="pseudo-sortie"
                       href="{{ path('participant_profil',{'pseudo':sortie.organisateur.pseudo}) }}">{{ sortie.organisateur.pseudo }}</a>
                    <hr>
                    <div class="container-description">
                        <ul class="liste-description">
                            <!-- bloc description -->
                            <p id="p-lieu"><strong id="lieu-text"> Lieu de la sortie
                                    :</strong> {{ sortie.lieu.nom }} :
                                situé à l'adresse suivante: {{ sortie.lieu.rue }} à {{ sortie.lieu.ville.nom }}</p>
                            <p><strong id="lieu-text">Début de la sortie
                                    :</strong> {{ sortie.dateHeureDebut | date('d/m/y H:i') }}</p>
                            <p><strong id="lieu-text">Fin des inscriptions
                                    :</strong> {{ sortie.dateLimiteInscription | date('d/m/y H:i') }}</p>
                            <p><strong id="lieu-text">Etat de l'activité :</strong> {{ sortie.etat.libelle }} </p>
                            <br>
                            <p id="police"> Liste des participants inscrits à cette sortie :</p>
                            <p id="lieu-text">Participants : {{ sortie.participants|length }}
                                /{{ sortie.nbInscriptionsmax }}
                                {% if (sortie.participants|length >= sortie.nbInscriptionsmax) %}</p>
                            <strong class="input-blink" id="complete">=> Sortie complète</strong>
                            <br>
                            {% endif %}
                            <!-- bloc liste participant -->
                            <div id="bloc-participant">
                                <div>
                                    <div class="listeP">
                                        {% for perso in sortie.participants %}
                                            <a id="lien-participant"
                                               href="{{ path('participant_profil',{'pseudo':perso.pseudo}) }}">{{ perso.prenom }}</a>

                                        {% endfor %}
                                    </div>
                                    {% if sortie.participants|length is same as 1 %}
                                        <p id="pas-participant">Pas de participants hormis l'organisateur</p>
                                    {% endif %}
                                </div>

                            </div>
                            <div class="container-inscription">
                                <nav>
                                    {% if sortie.etat.id == 1 %}
                                        <a class="btn-inscription" href="{{ path('sortie_liste') }}">Publier</a>
                                    {% endif %}

                                    {% for perso in sortie.participants %}
                                        {% if app.user %}
                                            {% if app.user.pseudo==perso.pseudo %}
                                                <a class="btn-desinscription"
                                                   href="{{ path('desinscrire_sortie',{'sortie_id':sortie.id}) }}">Se
                                                    désinscrire</a>
                                                {% set inscrit=true %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if app.user %}

                                        {% if ((inscrit == false) and ((sortie.etat.id == 2) or (sortie.etat.id == 3))) and (sortie.participants|length < sortie.nbInscriptionsmax) %}
                                            <a class="btn-inscription"
                                               href="{{ path('inscrire_sortie',{'sortie_id':sortie.id}) }}">S'inscrire</a>

                                        {% endif %}
                                    {% endif %}
                                    {% if sortie.etat.id is same as 7 %}
                                        <p id="annulation_sortie"> Desolée sortie annulée</p>
                                    {% endif %}
                                </nav>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            {#   {% endif %} #}
        {% endfor %}
    </div>

{% endblock %}
