{% extends 'base.html.twig' %}

{% block body %}


    <div class="bloc-sortie-general">
        <div class="container-liste-1-titre">
            <h2> Voici la liste des sorties que tu as organisées </h2>
        </div>
    </div>
    {%  if sorties %}
        <div class="container-general">
            {% for sortie in sorties %}
                <div class="container-bloc">
                    <div class="liste-1">
                        <a id="nom-sortie"
                           href="{{ path('sortie_detail',{'sortie':sortie.id}) }}">{{ sortie.nom }}</a>
                        <hr>
                        <div class="container-description">
                            <ul class="liste-description">

                                <p id="p-lieu"><strong id="lieu-text"> Lieu de la sortie
                                        :</strong> {{ sortie.lieu.nom }} :
                                    situé à l'adresse suivante: {{ sortie.lieu.rue }} à {{ sortie.lieu.ville.nom }}</p>
                                <p><strong id="lieu-text">Début de la sortie
                                        :</strong> {{ sortie.dateHeureDebut | date('d/m/y H:i') }}</p>
                                <p><strong id="lieu-text">Fin des inscriptions
                                        :</strong> {{ sortie.dateLimiteInscription | date('d/m/y H:i') }}</p>
                                <p><strong id="lieu-text">Etat de l'activité :</strong> {{ sortie.etat.libelle }} </p>
                                <br>
                                <p id="police"> Liste des participants inscrits à cette sortie :</p>
                                <p id="lieu-text">Participants : {{ sortie.participants|length }}
                                    /{{ sortie.nbInscriptionsmax }}
                                    {% if (sortie.participants|length >= sortie.nbInscriptionsmax) %}</p>
                                <strong class="input-blink" id="complete">=>  Sortie complète</strong>
                                {% endif %}

                                    <div id="bloc-participant">
                                        <div>
                                            <div class="listeP">
                                                {% for perso in sortie.participants %}
                                                    <a id="lien-participant"
                                                       href="{{ path('participant_profil',{'pseudo':perso.pseudo}) }}">{{ perso.prenom }}</a>

                                                {% endfor %}
                                            </div>
                                            {% if sortie.participants|length is same as 1 %}
                                                <p id="pas-participant">Pas de participants hormis l'organisateur</p>
                                            {% endif %}
                                        </div>

                                    </div>

                                <br>
                            <div class="container-organisateur">
                                <a class="btn-suppression"
                                   href="{{ path('sortie_suppression',{'suppression_id':sortie.id}) }}">supprimer</a>
                                <br>
                                <a class="btn-modification"
                                   href="{{ path('sortie_modification',{'sortie':sortie.id}) }}">modifier</a>
                                <br>
                                {% if sortie.etat.id is not same as 7 %}
                                    <a class="btn-annulation"
                                       href="{{ path('sortie_annulation',{'sortie':sortie.id}) }}">annuler
                                        la sortie</a>
                                {% endif %}
                            </div>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}

        <h5 id="titreForm"> Tu n'as organisé aucune sortie pour le moment</h5>
        <br>
        <br>
        <br>
        <div class="btn-ajout">

            <a id="btn-ajouter-liste" href="{{ path('sortie_creation') }}"> Ajoute une sortie</a>
        </div>
        <br>
        <br>
        <br>

    {% endif %}
{% endblock %}




