{% extends 'base.html.twig' %}

{% block body %}

    <h1>Résultats de la recherche pour {{ app.user.pseudo }}</h1>

    {% if sorties is empty %}
        <p>Aucun résultat trouvé pour votre recherche .</p>
    {% else %}

    {% set ids = [] %}
    {% for sortie in sorties %}
        {% if sortie.id in ids %}
            <li>
                <a href="{{ path('sortie_detail',{'detail_id':sortie.id}) }}"> {{ sortie.nom }} </a>

            </li>
        {% endif %}
        {% set ids = ids|merge([sortie.id]) %}
    {% endfor %}
    {% endif %}



    {#       #}{# --------------------------------------------------------------------------------------------------- #}{#
<ul>
    {% for sortie in sorties1 %}

        <li>
            <a href="{{ path('sortie_detail',{'detail_id':sortie.id}) }}"> {{ sortie.nom }} </a>
            {{ sortie.id }}

        </li>

    {% endfor %}
</ul>
{% endif %}
#}{# --------------------------------------------------------------------------------------------------- #}{#
<ul>
    {% for sortie in sorties2 %}

        <li>
            <a href="{{ path('sortie_detail',{'detail_id':sortie.id}) }}"> {{ sortie.nom }}</a>
            {{ sortie.id }}

        </li>

    {% endfor %}
</ul>
#}{# --------------------------------------------------------------------------------------------------- #}{#
<ul>
    {% for sortie in sorties3 %}

        <li>
            <a href="{{ path('sortie_detail',{'detail_id':sortie.id}) }}"> {{ sortie.nom }}</a>
            {{ sortie.id }}

        </li>

    {% endfor %}
</ul>
#}{# --------------------------------------------------------------------------------------------------- #}{#
<ul>
    {% for sortie in sorties4 %}

        <li>
            <a href="{{ path('sortie_detail',{'detail_id':sortie.id}) }}"> {{ sortie.nom }}</a>
            {{ sortie.id }}

        </li>

    {% endfor %}
</ul>
#}{# --------------------------------------------------------------------------------------------------- #}{#
<ul>
    {% for sortie in sorties5 %}

        <li>
            <a href="{{ path('sortie_detail',{'detail_id':sortie.id}) }}"> {{ sortie.nom }}</a>
            {{ sortie.id }}

        </li>

    {% endfor %}
</ul>
#}{# --------------------------------------------------------------------------------------------------- #}{#
<ul>
    {% for sortie in sorties6 %}

        <li>
            <a href="{{ path('sortie_detail',{'detail_id':sortie.id}) }}"> {{ sortie.nom }}</a>
            {{ sortie.id }}

        </li>

    {% endfor %}
</ul>
#}{# --------------------------------------------------------------------------------------------------- #}



{% endblock %}



